address{
    position: absolute;
    right: 0px;
    width: 200px;
    padding: 10px;
    color:purple;
    font-family:Georgia;
    padding: 10px;
    margin: 10px;
    text-align: right;
    
}