h1{
    background-color:rgb(219, 148, 219);
    color:purple;
    font-family:Georgia;
    border: 4px solid purple;
    padding: 15px;
    box-sizing: border-box;



    margin: 50px auto;
    width: 70%;
    text-align: center;


    
}